@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Light"),
       local("Gilroy Light"),
       url("../fonts/gilroylight.woff2") format(woff2),
       url("../fonts/gilroylight.woff") format(woff),
       url("../fonts/Gilroylight.ttf") format(truetype);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-ExtraBold"),
       local("Gilroy ExtraBold"),
       url("../fonts/gilroyextrabold.woff2") format(woff2),
       url("../fonts/gilroyextrabold.woff") format(woff),
       url("../fonts/Gilroyextrabold.ttf") format(truetype);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"),
       url("../fonts/opensanslight.woff2") format(woff2),
       url("../fonts/opensanslight.woff") format(woff),
       url("../fonts/OpenSans-Light.ttf") format(truetype);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-Regular"),
       local("Open Sans"),
       url("../fonts/opensans.woff2") format(woff2),
       url("../fonts/opensans.woff") format(woff),
       url("../fonts/OpenSans-Regular.ttf") format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
}

.main-navigation {

}

.search-header-input {
  border: none;
  opacity: 0.3;
}

.search-header-button {

}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  text-decoration: none;
  color: #000000;
}

.logout {
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
}

.site-navigation-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.header-category-list {
  list-style: none;
}

.header-category-list-item {
  text-decoration: none;
  color: #000000;
}

.promo-slider {
  list-style: none;
}

.promo-slide h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
}

.promo-slide p {
  color: #464646;
}

.yellow-button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-decoration: none;
  border: none;
  background: none;
  text-transform: uppercase;
  color: #000000;
}

.features {
  border-collapse: collapse;
}

.features-numbers {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.features-names {
  color: #464646;
}

.main-category-list {
  list-style: none;
}

.main-category-list-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.brand-list {
  list-style: none;
}

.facilities {
  background-color: #e5e5e5;
}

.facility-slider {
  list-style: none;
}

.facility-list h3,
.columns-layout h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.facility-list p {
  color: #464646;
}

.columns-layout p {
  color: #464646;
  letter-spacing: 0;
}

.logistics-list {
  list-style: none;
}

.logistics-list li {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
}

footer {
  background-color: #464646;
}

.footer-user-menu {
  list-style: none;
}

.footer-user-menu a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
}

.footer-facilities p{
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.footer-facility-list {
  list-style: none;
}

.footer-facility-list a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.write-us-modal {
  background-color: #ffffff;
}

.write-us-form ul {
  list-style: none;
}

.write-us-form label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.write-us-form input,
.write-us-form textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  opacity: 0.4;
  background-color: #f2f2f2;
  border: none;
}

.category-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.filter {
  background-color: #ebebeb;
}

.filter-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  background-color: #d9d9d9;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.filter-set legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.filter-set ul {
  list-style: none;
}

.filter-set label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.sorting {
  background-color: #ebebeb;
}

.sorting h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
}

.sorting-type {
  list-style: none;

}

.sorting-type-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #000000;
  opacity: 0.3;
}

.sorting-type-current {
  opacity: 1;
}

.sorting-direction {
  list-style: none;
}

.arrow-current {
  opacity: 0.2;
}

.products-list {
  list-style: none;
}

.product-name {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.product-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-align: right;
}

.pagination-list {
  list-style: none;
}

.pagination a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
